body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: medium;
    margin-top: 0px;

}
.heading:hover{
    font-size: large;
}

.link{
    background-color: black;
    width: 80px;
    border-radius: 20px;
    float: right;
}